.tasks-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right:20px;
    top: 50vh;
    transform: translateY(-50%);
    overflow: auto;
}
.nav-but {
    height: 43px;
    width: 43px;
    border: solid;
    border-color: #d9d9d9;
    border-width: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.current.nav-but {
    cursor:default;
    background-color: #d9d9d9;
}

.nav-but:hover {
    border-color: grey;
}
.current.nav-but:hover {
    border-color: #d9d9d9;
}